:root{
    --grey: #CED8E1;
    --dark: #102B3E;
    --purp: #6964E2;
}

html{
    margin: 0 auto;
    max-width: 1000px;
}

*{
    margin: 0;
    padding: 0;
}

.wrapper-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
}

.wrapper-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
}

.h60 {
    height: 60px;
}

.square {
    height: 100px;
    width: 100px;
    /*border-radius: 25px;*/
}

.rectangle{
    height: 120px;
    width: 100%;
}

.b-radius {
    border-radius: 25px;
}

.c-radius{
    border-radius: 50%;
}

.c-grey {
    background-color: var(--grey);
}

.c-dark {
    background-color: var(--dark);
}

.c-purp{
    background-color: var(--purp);
}



.navigation__left{
    height: 30px;
    width: 100px;
}

.navigation__right{
    display: flex;
    column-gap: 20px;
}

.navigation__right-search, .navigation__right-menu  {
    height: 30px;
    width: 30px;
}



.footer__top{
    height: 300px;
    text-align: center;
    row-gap: 10px;
    padding-bottom: 90px;
    box-sizing: border-box;
}


.footer__top>h1,.footer__top>p{
    color: var(--purp);
    max-width: 400px;
}

.footer__top-button{
    width: 200px;
    height: 40px;
    margin-top: 20px;
}




.footer__middle{
    display: flex;
    justify-content: center;
}

.footer__middle-box{
    position: absolute;
    top: 310px;
    column-gap: 40px;
    justify-content: center;
}



.body__top{
    padding: 100px;
    row-gap: 20px;
}

.body__top-pull{
    flex-wrap: wrap;
    column-gap: 3%;
}

.body__top-pull-item{
    max-width: 110px;
    /*display: flex;*/
    /*flex-direction: column;*/
    row-gap: 10px;
    padding: 2px;
    /*box-sizing: border-box;*/
    font-size: 12px;
    /*text-align: center;*/
}

.body__top-pull-item{
    font-size: 12px;
    text-align: center;
}



.body__middle{
    padding: 50px 100px;
    row-gap: 30px;
}
.body__middle-article{
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    padding: 0 100px;
    box-sizing: border-box;
}

.body__middle-article-item{
    width: 45%;
    row-gap: 5px;
    padding: 5px;
    text-align: justify;
    font-size: 14px;
}





.body__slider-box{
    max-width: 800px;
    column-gap: 25px;
    padding: 20px 100px;
    justify-content: center;
}

.body__slider-box>button:nth-child(1){
    margin: 15px;
}

.body__slider-box>button:nth-child(5){
    margin: 15px;
}

.body__slider-box-btn{
    height: 20px;
    width: 30px;
}

.body__slider-box-photo{
    width: 200px;
    height: 100px;
}




.body__bottom{
    /*max-width: 800px;*/
    row-gap: 15px;
    padding: 50px 200px;
    display: flex;
    justify-content: start;
    column-gap: 15px;
}

.body__bottom-address{
    align-items: start;
    color: var(--dark);
    max-width: 80%;
    padding: 2px;
    text-align: justify;
    row-gap: 5px;
}



.footer{
    height: 80px;
    row-gap: 20px;
}

.footer__ico{
    column-gap: 15px;
    justify-content: center;

}
.footer__ico-item{
    height: 20px;
    width: 20px;
    border-radius: 5px;
}

.footer__links{
    column-gap: 15px;
}

.footer__links-item{
    height: 3px;
    width: 25px;
    border-radius: 5px;
}










