body {
    background: aqua;
}

h1, h2 {
    color: blue;
    text-align: center;
}

p {
    text-align: justify;
}
img {
    height: 100%;
    width: 500px;
    margin-right: 25px;
}

.father {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    min-height: 400px;
}
