



.header {
    background: url("image/bg.png") no-repeat center/cover;
    height: 800px;
    padding: 50px 135px;
    /*box-sizing: border-box;*/
}

.header__top {
    display: flex;
}

.header__logo>img {
    width: 67px;
}

.header__menu {
    height: 65px;
    display: flex !important;
}

a.nav-link {
    color: #FFFFFF;
    padding: 0;
}

.nav-link img {
    width: 20px;
    color: #FFFFFF;
}

.nav {
    border-right: 2px solid #FFFFFF;
    column-gap: 10px;
    /*margin: 0;*/
}

.header__contacts-box p {
    max-width: 190px;
}

.header__contacts-box p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.header__contacts-number p{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.btn {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: #FF7400;
    width: 147px;
    height: 40px;
}



.header__main {
    text-align: center;
}

.header__main h2, h1, p{
    font-style: normal;
    font-weight: normal;
    color: #D67E35;
    margin: 0;
}

.header__main>h2{
    font-size: 50px;
    line-height: 57px;
}

.header__main>h1{
    font-size: 80px;
    line-height: 92px;
}

.header__main>p{
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 12px 0 21px 0;
    box-sizing: border-box;
}



.header__bottom {
    position: relative;
}

.header__bottom-container {
    position: absolute;
    top: -50px;
    column-gap: 5%;
    row-gap: 20px;
}

.header__bottom-item {
    width: 350px;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    background-color: #FFFFFF;
    padding: 30px 15px;
    box-sizing: border-box;
}

.header__bottom-item>h5{
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}

.header__bottom-item>p {
    font-size: 26px;
    line-height: 30px;
    color: #656363;
}


.history {
    background-color: #E5E5E5;
    height: 900px;
}






@media screen and (max-width: 576px) {
    .header {
        padding: 20px 22px;
    }

    .header__menu {
        display: none !important;
    }

    .header__main-box {
        justify-content: center !important;
    }

    .header__main h2, h1, p{
        font-weight: 400;
    }

    .header__main>h2{
        font-size: 30px;
        line-height: 34px;
    }

    .header__main>h1{
        font-size: 40px;
        line-height: 46px;
    }

    .header__main>p{
        font-size: 15px;
        line-height: 20px;
        padding: 12px 0 21px 0;
    }
}