*{
    margin: 0;
    padding: 0;
}


.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 500;
}

.container_radius {
    border-radius: 15px;
}

.h100 {
    height: 100px;
}

.container {
    width: 800px;
    /*border: 5px solid black;*/
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin: 0 auto;
}

.container__header {
    background-color: #0C65A7;
}


.container__nav {
    background-color: #124B78;
    height: 80px;
}

.container__box {
    height: 400px;
    display: flex;
    column-gap: 5px;
}

.container__box-main {
    background-color: #16A2C5;
    flex-grow: 4;
}

.container__box-aside {
    background-color: #5374AC;
    flex-grow: 1;
}
.container__footer {
    background-color: #7CCCE3;
}
