.abc {
    background: dodgerblue;
    display: flex;
    flex-direction: column;
    row-gap: 2%;
    width: 1300px;
    height: 700px;
    border: 2px solid black;
    padding: 1%;
}

.a {
    background: darkorange;
    height: 200px;
    flex-grow: 1;
}

.bc {
    background: black;
    display: flex;
    align-items: stretch;
    /*height: 400px;*/
    column-gap: 1%;
    flex-grow: 15;
}

.b {
    background: blue;
    /*height: 400px;*/
    flex-grow: 3;
}

.c {
    background: yellow;
    /*height: 400px;*/
    flex-grow: 1;
}