.father {
    background: black;
    height: 650px;
    display: flex;
    flex-direction: column;
    row-gap: 0.2em;
    padding: 0.2em;
}

.a {
    background: deepskyblue;
    flex-grow: 1;
}

.cont {
    background: black;
    flex-grow: 2;
    display: flex;
    column-gap: 0.2em;
}

.main {
    background: black;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    row-gap: 0.2em;
}

.b {
    background: gold;
    flex-grow: 1;
}

.cde {
    background: black;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    column-gap: 0.2em;;
}

.c {
    background: cornflowerblue;
    flex-grow: 1;
}

.d {
    background: cornflowerblue;
    flex-grow: 1;
}

.e {
    background: cornflowerblue;
    flex-grow: 1;
}

.aside {
    background: deepskyblue;
    flex-grow: 1;
}

