:root {
    --color-dark-blue: #102B3E;
    --color-white-blue: #16A2C5;
    --color-white: #CED8E1;
}


*{
    margin: 0;
    padding: 0;
}

.square {
    width: 140px;
    height: 140px;
}

.d-fon {
    background-color: var(--color-dark-blue);
}

.w-fon {
    background-color: var(--color-white);
}

.w50 {
    width: 30px;
}

.w80 {
    width: 45px;
}

.w100 {
    width: 60px;
}

.h10 {
    height: 10px;
}

.h15 {
    height: 15px;
}

.b-radius {
    border-radius: 25px;
}

.s-radius {
    border-radius: 50%;
}

.b-box {
    box-sizing: border-box;
}

.column {
    display: flex;
    flex-direction: column;
}

.r-gap5 {
    row-gap: 5px;
}

.square.b-radius:hover {
    background-color: yellow;
    border: 2px solid black;
    box-sizing: border-box;
}

.container {
    width: 800px;
    border: 5px solid var(--color-white-blue);
    /*display: flex;*/
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    /*row-gap: 5px;*/
    padding: 10px;
    /*box-sizing: border-box;*/
    margin: 0 auto;
}

.container__header {
    width: 650px;
    /*flex-grow: 1;*/
    border: 3px solid #A5C9D9;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*row-gap: 5px;*/
    padding: 10px;
    /*box-sizing: border-box;*/
}

.container__header-up {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.container__header-main {
    display: flex;
    column-gap: 10px;
    justify-content: space-evenly;
    padding-bottom: 25px;
    /*box-sizing: border-box;*/
}

.container__header-main-item {
    /*display: flex;*/
    /*flex-direction: column;*/
    row-gap: 10px;
}

.container__header-main-itemFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10px;
}

.container__footer {
    width: 780px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 20px;
    /*box-sizing: border-box;*/
}

.container__footer-item {
    /*display: flex;*/
    /*flex-direction: column;*/
    row-gap: 20px;
    padding: 30px;
    /*box-sizing: border-box;*/
}

.container__footer-item-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10px;
}

.container__footer-item-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 5px;
}

.container__footer-item:nth-child(2) {
    border: 2px solid var(--color-white-blue);
}