.father {
    background: black;
    height: 120em;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    padding: 0.5em;
}

.a {
    background: cornflowerblue;
    flex-grow: 1;
}

.cont {
    background: black;
    flex-grow: 2;
    display: flex;
    column-gap: 0.5em;
}

.box {
    background: cornflowerblue;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    /*row-gap: 0.5em;*/
    row-gap: 0.5em;
    justify-content: space-between;
    padding: 0.5em;
}

.upBox {
    background: cornflowerblue;
    flex-grow: 3;
    display: flex;
    column-gap: 0.5em;
    justify-content: space-between;
    /*padding: 0.5em;*/
}

.b {
    background: gold;
    /*flex-basis: 50em;*/
    /*height: 100px;*/
    flex-grow: 1;
}

.aside {
    background: cornflowerblue;
    flex-grow: 1;
}